<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>food-blog</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/main.css">

</head>

<body>
  
    <h1><%=data.largeGreeting%></h1>
    <img src="images/Quay_1.jpg">

    <div id="like_button_container"></div>


    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="like_button.js"></script>

  
</body>
</html>